src/.vs/
src/TestClient/bin/
src/TestClient/obj/
src/IdentitySvr.Entities/obj/
src/IdentitySvr.Entities/bin/
src/IdentitySvr.Core/obj/
src/IdentitySvr.Core/bin/
src/IdentitySvr.Interfaces/obj/
src/IdentitySvr.Interfaces/bin/
src/IdentitySvr.Repositories/obj/
src/IdentitySvr.Repositories/bin/
src/IdentitySvr.Database/bin/
src/IdentitySvr.Database/obj/
src/IdentitySvr.Host/obj/
src/IdentitySvr.Host/bin/
IdentitySvr.IdentityServerUI/bin/
IdentitySvr.IdentityServerUI/obj/
.vs/
